# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Training outputs
runs/
checkpoints/
weights/
wandb/
logs/
*.pt
*.pth
*.ckpt

# Dataset folders
data/
datasets/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
